/*
1. Posicionamiento
2. Box model 
3. tipografía
4. Visuales (gradientes, sombras, etc).
5. Otros
*/

:root {
    --bitcoin-color: #F7931A;
    --soft-orange: #f8e2c6;
    --bitcoin-soft-color:#ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --dark-gray: #565454;

    --linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--background:#E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*62.5% utilidad para fonts (rem)*/
    font-size: 62.5%;
    font-family: var(--font-sans);
}

header {
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);  */  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.main__container {
    background-color: var(--just-white);
    width: 100%;
    margin: 0 auto;
}

.header__image {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__description-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header__description-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
    line-height: 2.6rem;
}

.header__description-container p {
    margin-top: 25px;
    font-size: 1.4rem; /*14px*/
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--bitcoin-soft-color);
}

.header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

.money-rates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-rates img {
    width: 350px;
    /* display: block;
    margin: 0 auto; */
    margin-top: 60px;
}

.money-rates__description {
    margin-top: 60px;
}

.money-rates__description h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-align: center;
}

.money-rates__description p {
    font-family: var(--font-inter);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 25px;
    color: var(--dark-gray);
}

.money-rates__tables {
    width: 100%;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
}

.money-rates__tables-container {
    background: white;
    width: 400px;
    height: 200px;
    min-width: 318px;
    border: none;
    /* border-radius: 20px; */
    /* border: 1px solid black; */
    /* padding: 20px; */
    border-radius: 15px;
    margin-bottom: 20px;
}

.money-rates__tables h3 {
    font-family: var(--font-inter);
    color: var(--bitcoin-color);
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.money-rates__tables-container tr {
    border: 1px solid red;
    border-radius: 15px;
}

.money-rates__tables-container td {
    /* width: 100%; */
    border: 1px solid rgb(224, 209, 209);
    padding: 10px 15px;
    text-align: center;
    font-family: var(--font-inter);
    color: var(--grey);
}

.money-rates__tables-container tr td {
    color: black;
}


.product {
    
    background-color: var(--black);
    width: 100%;
    min-width: 320px;
    padding-bottom: 20px;
    margin-right: 20px;
}

.product__container {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product__card {
    width: 90%;
    height: 140px;
    min-width: 288px;
    max-width: 400px;
    background-color: var(--warm-black);
    padding: 15px 10px;
    margin: 15px 20px;    
    border-radius: 4px;
}

.product__icon--time {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-size: cover;
}

.product__icon--eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-size: cover;

}

.product__icon--dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-size: cover;
}

.product__icon--check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-size: cover;
}

.product h2 {
    margin-top: 60px;
    color: white;
    font-family: var(--font-inter);
    font-size: 2.2rem;
    margin-bottom: 15px;
    text-align: center;
}

.product h4 {
    color: white;
    font-family: var(--font-inter);
    margin-bottom: 10px;
    
}

.product h5 {
    margin: 15px;
    color: gray;
    text-align: center;
    font-size: 1.1rem;
}

.product__title h4 {
    font-size: 1.4rem;
    color: white;
    font-family: var(--font-inter);
}

.product__title p {
    color: gray;
    font-size: 1.2rem;
}

.knowUs__image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-image: url(../assets/img/bitcoinbaby2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.knowUs__image h2 {
    position: relative;
    top: 55px;
    font-size: 2.2rem;
    font-family: var(--font-sans);
    color: var(--just-white);
}

.plan {
    position: relative;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.plan__description h2 {
    font-size: 1.8rem;
    text-align: center;
    font-family: var(--font-sans);
    margin-bottom: 20px;
}

.plan__description p {
    font-size: 1.1rem;
    color: gray;
    text-align: center;
    font-family: var(--font-sans);
    margin-bottom: 50px;
}

.plan__description span {
    position: absolute;
    top: 45px;
    right: 160px;
    /* width: 20px;
    height: 12px; */
    background: var(--bitcoin-color);
    padding: 8px;
    border-radius: 5px;
    color: white;
}


.plan__card {
    height: 250px;
    width: 270px;
    min-width: 180px;
    max-width: 400px;
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    border: none;
    border-radius: 10px;
    margin: 40px 20px;
    padding: 25px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plan__card-container {
    display: inherit;
    flex-direction: row;
    align-items: inherit;
    flex-wrap: wrap;
}

.plan__card h5 {
    font-size: 1.4rem;
    font-family: var(--font-sans);
    padding-bottom: 10px;
}

.plan__card h6 {
    font-size: 4rem;
    padding-bottom: 10px;
}

.plan__card p {
    font-size: 1.4rem;
    font-family: var(--font-sans);
    text-align: center;
    color: gray;
    padding-bottom: 20px;
}

.plan__card a {
    text-decoration: none;
    color: var(--black);
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--bitcoin-color);
    background: var(--off-white);
    text-align: center;
    line-height: 3.9rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.plan__card a span {
    display: inline-block;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.footer {
    width: 100%;
    height: 130px;
    background-color: var(--bitcoin-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer ul {
    /* margin-top: 30px; */
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 1.4rem;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer img {
    width: 90px;
}