/*
1. Posicionamiento
2. Box model 
3. tipografía
4. Visuales (gradientes, sombras, etc).
5. Otros
*/

:root {
    --bitcoin-color: #F7931A;
    --soft-orange: #f8e2c6;
    --bitcoin-soft-color:#ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --dark-gray: #565454;

    --linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--background:#E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*62.5% utilidad para fonts (rem)*/
    font-size: 62.5%;
    font-family: var(--font-sans);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);   
}

.header__image {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__description-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header__description-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
    line-height: 2.6rem;
}

.header__description-container p {
    margin-top: 25px;
    font-size: 1.4rem; /*14px*/
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--bitcoin-soft-color);
}

.header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

.money-rates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-rates img {
    width: 350px;
    /* display: block;
    margin: 0 auto; */
    margin-top: 60px;
}

.money-rates__description {
    margin-top: 60px;
}

.money-rates__description h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-align: center;
}

.money-rates__description p {
    font-family: var(--font-inter);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 25px;
    color: var(--dark-gray);
}

.money-rates__tables {
    width: 100%;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
}

.money-rates__tables-container {
    width: 60%;
    /* border-radius: 20px; */
    /* border: 1px solid black; */
    /* padding: 20px; */
    border-radius: 15px;
    margin-bottom: 20px;
}

.money-rates__tables h3 {
    font-family: var(--font-inter);
    color: var(--bitcoin-color);
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.money-rates__tables-container tr {
    border: 1px solid red;
    border-radius: 15px;
}

.money-rates__tables-container td {
    /* width: 100%; */
    border: 1px solid rgb(224, 209, 209);
    padding: 10px 15px;
    text-align: center;
    font-family: var(--font-inter);
    color: var(--grey);
}

.money-rates__tables-container tr td {
    color: black;
}


.product {
    background-color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.product__card {
    min-width: 310px;
    max-width: 400px;
    background: var(--warm-black);
    box-shadow: (0px 4px 8px rgba(0, 0, 0, 0.16));
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


.product h2 {
    color: white;
    font-family: var(--font-inter);
    margin-bottom: 15px;
}

.product h4 {
    color: white;
    font-family: var(--font-inter);
    margin-bottom: 10px;
}

.product h5 {
    color: gray;
}

.product p {
    color: gray;

}

.product h2 {
    text-align: center;
}

